
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,170,164,1) 35%, rgba(71,99,209,1) 100%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cb2323;
}

li {
    display: inline-block;
    margin: 3rem;
    cursor: pointer;
    font-size: 27px;
}

.imgTienda {
    width: 12rem;
    border-radius:70%;
}

h1{
    color: rgb(129, 236, 91);
    font-size: 60px;
}

.navegacion{
    color: rgb(214, 243, 240);
}